.fontPoppins {
    font-family: 'Poppins';
}

.titulo{
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #4F46E5;
}

.subtitulo {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #6C757D;
}

.textoInputs {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #818CF8;
    
}

.line {
    width: 14%;
    border-bottom: 2px solid #6366F1;
  }

/*----------------Footer------------------------*/

footer{
    font-family: 'Poppins';
    margin-top: 3em;
    color: #818CF8;
}

footer hr {
    height: 2px; /* Altura del HR */
    background-color: #A5B4FC; /* Color del HR */
    margin: 20px 0; /* Espacio alrededor del HR */
}

.tituloFooter{
    font-style: normal;
    font-weight: 600;

    line-height: 18px;
}
.textoFooter{
    color: #6C757D;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
}
.suneoFooter{
    width: 50%;
    height: auto;
}
.unsijFooter{
    width: 20%;
    height: auto;
}
