.fontPoppins {
    font-family: 'Poppins';
}

.titulo{
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #4F46E5;
}

.subtitulo {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #6C757D;
}

.estiloBoton{
    color: #4F46E5;
    outline-color: #4F46E5;
}

.hBtn:hover{
    background-color: #4F46E5;
    color: white;
}

.estiloInputs{
    border-color: #4F46E5;
    border-style: solid;
    border-width: .4px;
    width: 35%;
}

.textoInputs {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #818CF8;
}

.line {
    width: 14%;
    border-bottom: 2px solid #6366F1;
}

.colorFondo{
    background-color: #F8F9FA;
}

.localizacion{
    background-color: #4F46E5; 
}

.camino{
    border-radius: 15px;
    font-size: smaller;
}

.breadcrumb {
  border: 0px solid rgb(43, 42, 139); 
  border-radius: 15px; 
  display: block;
  width:auto;
  align-items: center;
  align-self: center;
}

.btn-bread{
    margin-top:10px;
    font-size: 12px;
    border-radius: 53px;
    background-color: #4F46E5;
}
.divApartados{
    margin-top: 1.8cm; margin-left: 3.6cm; 
    margin-bottom: 1cm;
}
.apartadosBtn{
    height: 2.1cm; width: 4.7cm;
    background-color: #F5F5F5;
    border-radius: 15px;
    margin: 0.55cm;
    padding: 0;
    line-height: 2.1cm; 
    text-align: center;
    font-size: 20px;
}

.apartadosBtn:active {
    background-color: #b81d1d;
}