body {
    overflow-x: hidden;
}

.fontPoppins {
    font-family: 'Poppins';
}

.titulo{
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #4F46E5;
}

.subtitulo {
    font-size: 16px;
    line-height: 20px;
    color: #6C757D;
}

.estiloBoton{
    color: #4F46E5;
    outline-color: #4F46E5;
}

.hBtn:hover{
    background-color: #4F46E5;
    color: white;
}

.estiloInputs{
    border-color: #4F46E5;
    border-style: solid;
    border-width: .4px;
    width: 35%;
    color: #6C757D;
}

.textoInputs {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #818CF8;
}

.line {
    width: 14%;
    border-bottom: 2px solid #6366F1;
}


.colorFondo{
    background-color: #F5F5F5;
}

.localizacion{
    background-color: #4F46E5; 
}

.camino{
    border-radius: 15px;
    font-size: smaller;
}

.breadcrumb {
  border: 0px solid rgb(43, 42, 139); 
  border-radius: 15px; 
  display: block;
  width:auto;
  align-items: center;
  align-self: center;
}

.btn-bread{
    margin-top:10px;
    font-size: 12px;
    border-radius: 53px;
    background-color: #4F46E5;
}

.btn-sky {
    height: 2.1cm; width: 4.7cm;
    background-color: #F5F5F5;
    border-radius: 15px;
    font-size: 22px; 
    margin: 0.55cm;
    color:#4F46E5; font-weight: bold; 
    line-height: 1.8cm;
}

.how-section1 p{
    color: #a2a3fb;
    font-size: 14px; text-align: justify;
    font-family: sans-serif;
    width: 140%;
}
.how-section1 .row{
    margin-top: 5%;
}
.how-section1 {
    width: 100%;
}
.how-img img{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.how-img {
    text-align:right;
}

.colorFondoAgregar{
    background-color: #BFBFBF;
}

.estiloPocentaje{
    font-size: 90px;
    font: bolder;
    color: #6366F1;
}
/*----------------Footer------------------------*/

footer{
    font-family: 'Poppins';
    margin-top: 3em;
    color: #818CF8;
}

footer hr {
    height: 2px; /* Altura del HR */
    background-color: #A5B4FC; /* Color del HR */
    margin: 20px 0; /* Espacio alrededor del HR */
}

.tituloFooter{
    font-style: normal;
    font-weight: 600;

    line-height: 18px;
}
.textoFooter{
    color: #6C757D;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
}
.suneoFooter{
    width: 50%;
    height: auto;
}
.unsijFooter{
    width: 20%;
    height: auto;
}

/*----------------Footer------------------------*/