.fontPoppins {
    font-family: 'Poppins';
}

.titulo{
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #4F46E5;
}

.subtitulo {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #6C757D;
}

.estiloBoton{
    color: #4F46E5;
    outline-color: #4F46E5;
}

.hBtn:hover{
    background-color: #4F46E5;
    color: white;
}

.estiloInputs{
    border-color: #4F46E5;
    border-style: solid;
    border-width: .4px;
    width: 35%;
}

.textoInputs {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #818CF8;
}

.line {
    width: 14%;
    border-bottom: 2px solid #6366F1;
}

.colorFondo{
    background-color: #F8F9FA;
}

.camino{
    border-radius: 15px;
    font-size: smaller;
}

.breadcrumb {
  border: 0px solid rgb(43, 42, 139); 
  border-radius: 15px; 
  display: block;
  width:auto;
  align-items: center;
  align-self: center;
}

.btn-bread{
    margin-top:10px;
    font-size: 12px;
    border-radius: 53px;
    background-color: #4F46E5;
}

.cuadro {
    border: 1px solid #ccc;
    padding: 5px; /* Reduciendo el padding */
    margin-bottom: 5px; /* Reduciendo el margin-bottom */
    border-radius: 7px; /* Reduciendo el border-radius */
    background-color: #F5F5F5;
    width: 15cm;
    height: 14cm;
    margin-left: 1.7cm;
}


.titulo-cuadro {
    font-weight: 50px;
    font-size: 20px;
    line-height: 60px;
    color: #4F46E5;
    margin-left:1cm;
}
.campo label {
    display: flex;
    margin-bottom: 5px;
    color: #818CF8;
    margin-left: 1cm;
}

.campo input,
.campo select {
    width: 90%;
    padding: 5px;
    border: 1px solid #6366F1;
    border-radius: 7px;
    margin-left: 1cm;
}
